#container {
  width: auto;
  background: #978282;
  
  border: 1px solid #cbc8c8;
 display: flex;
 flex-direction: column;
 align-items: stretch;
}

#header {
  background-image: url(images/head.png);
  border: 3px solid #746767;
  margin: 0px;
  padding: 5px;
  flex:2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  }

  #navigation {

  margin: 3px;
  padding: 5px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content:center;
  }

  .content {
  background-image: url(images/FarCry4Background.jpg);
  border: 0px solid silver;
  margin: 3px;
  padding: 5px;
  flex:5;
  display: flex;
  flex-direction: row; 
  }

  #footer {
  background: rgb(128, 0, 255);
  border: 1px solid silver;
  margin: 3px;
  padding: 5px;
  flex:2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
    width: auto;
  }


  .leftpanel {

  border: 0px solid silver;
  margin: 3px;
  padding: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .centerpanel {

  border: 0px solid silver;
  margin: 3px;
  padding: 5px;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .rightpanel {

  border: 0px solid silver;
  margin: 3px;
  padding: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }



ul, li {
margin: 0;
padding: 0;
}
ul {
list-style: none;
}
li {
float: left;
width: auto;
font-family: 'Silkscreen', cursive;
}
a {
background: #987171;
color: #ffffff;

font: bold 13px sans-serif;
padding: 10px 25px;
text-align: center;
text-decoration: none;
}
li:hover a {
background: #2c2020;
color: #580404;
}




p {
  text-align: justify;
  margin-right: 30px;
  margin-left: 20px;
  font-family: 'Kanit', sans-serif;
  font-size: 25px;
  line-height: 20px;
  color: white;
}
.title {
  font-family: 'Silkscreen', cursive;
  color:white;
  background:linear-gradient(45deg, yellow, red);
  -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
  font-size:100px
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
}
.titleb {
  font-family: 'Silkscreen', cursive;
  color:white;
  background:linear-gradient(45deg, red, #00aaff);
  -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
  font-size:150px
